@model IEnumerable<Frais_Scolaire.Models.Absence>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Etudiant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Justification)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Etudiant.Fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seance.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Justification)
            </td>
        </tr>
}
    </tbody>
</table>
