@model Frais_Scolaire.Models.Eleve

@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
	<h4>Eleve</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Matricule)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Matricule)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Prenom)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Prenom)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Nom)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Nom)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Naissance)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Naissance)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Sexe)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Sexe)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Phone)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Phone)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Email)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Email)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Adresse)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Adresse)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Groupe)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Groupe.Nom)
		</dd>
	</dl>
	<hr>
	<div class="alert alert-dismissible alert-warning">
		<h4 class="alert-heading">Absences</h4>
	</div>
	@if (@Model.EleveAbsences.Any()) {
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Date</th>
					<th scope="col">Justification</th>
					<th scope="col">Seance</th>
					<th scope="col">Matiere</th>
				</tr>
			</thead>
			@foreach (Absence a in @Model.EleveAbsences) {
				<tbody>
					<tr>
						<td>@a.Seance.Date</td>
						<td>@a.Justification</td>
						<td>@a.Seance.Numero</td>
						<td>@a.Seance.Matiere.Nom</td>
					</tr>
				</tbody>
			}
		</table>
	} else {
		<p class="text-warning">Aucune absence</p>
	}
	<div class="alert alert-dismissible alert-info">
		<h4 class="alert-heading">Paiements</h4>
	</div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">Montant</th>
				<th scope="col">Nom</th>
				<th scope="col">Debut</th>
				<th scope="col">Fin</th>
			</tr>
		</thead>
		@foreach (Versement v in @Model.EleveVersements) {
			<tbody>
				<tr>
					<td>@v.Montant</td>
					<td>@v.Paiement.Nom</td>
					<td>@v.Paiement.DateDebut</td>
					<td>@v.Paiement.DateFin</td>
				</tr>
			</tbody>
		}
	</table>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>
